<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<xhtml xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:f="http://xmlns.jcp.org/jsf/core"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
       xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>SGPB</title>
        <link rel="stylesheet" type="text/css" href="estilo.css" />    
        <script type="text/javascript" src="js/javascript.js"/>
    </h:head>
    <h:body>
        <div class="fundo">
            <div>
                <ui:include src="header.xhtml"></ui:include>
                <center>
                    <div>
                        <div class="fundoMenuBar">
                            <h:form>
                                <div>
                                    <menubar>
                                        <menuitem class="buttonMenuBar"><h:commandButton class="buttonMenuBar" style="width: auto" action="#{menuBean.hrefMenu()}" value="Menu"></h:commandButton></menuitem>
                                        <a href="menuProjeto.xhtml"><menuitem class="buttonMenuBar">Voltar</menuitem></a>
                                        <menuitem class="buttonMenuBar"><h:commandButton class="buttonMenuBar" style="width: auto" action="#{menuBean.hrefLogin()}" value="Sair"></h:commandButton></menuitem>
                                    </menubar>
                                </div>
                            </h:form>
                        </div>
                        <div align="center" style="background-color: #8e61cc">
                            <h:dataTable value="#{projetoListagemBean.projetoSelecionado}" var="projeto"
                                         styleClass="order-table"
                                         headerClass="order-table-header"
                                         rowClasses="order-table-odd-row,order-table-even-row"
                                         >
                                <h:column>
                                    <h1 class="tituloProj">Titulo: <a class="tituloProj" >#{projeto.titulo}</a></h1>
                                </h:column>
                                <h:column>
                                    <h1 class="tituloProj" >Ano/Numero do Processo: <a class="tituloProj" >#{projeto.ano}</a> / <a class="tituloProj" >#{projeto.nuProcesso}</a></h1>
                                </h:column>
                            </h:dataTable>
                        </div>
                    </div>
                </center>
            </div>
            <div align="center" class="fundo">
                <h1 class="titulo"> Cadastro de Beneficiários </h1>
                <h:form>
                    <div class="fundoCadastro">
                        <div align="left">
                            <h:outputText value="Nome: "  styleClass="rotulo" />
                            <h:inputText id="nome" title="Nome"
                                         value="#{beneficiarioBean.nome}" styleClass="campo" />
                        </div>
                        <div align="left">
                            <h:outputText value="CPF : "  styleClass="rotulo" />
                            <h:inputText id="cpf" title="CPF" maxlength="11" style="width: 100px"
                                         onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"
                                         onblur="TestaCPF(this.value)"
                                         value="#{beneficiarioBean.cpf}" styleClass="campoNum" /><h:commandButton title="O Cpf precisa conter somente numeros" class="btnHelp" onclick="help()" value="?"></h:commandButton>
                        </div>
                        <div align="left">
                            <h:outputText value="E-mail : "  styleClass="rotulo" />
                            <h:inputText id="email" title="email"
                                         value="#{beneficiarioBean.email}" styleClass="campo" />
                        </div>
                        <div align="left" id="rowMatricula">
                            <h:outputText value="Matricula : "  styleClass="rotulo" />
                            <h:inputText id="matricula" title="Matricula" maxlength="8" style="width: 60px"
                                         onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"
                                         value="#{beneficiarioBean.matricula}" styleClass="campoNum" />
                        </div>
                        <div align="left">
                            <h:outputText value="Carga Horária : "  styleClass="rotulo" />
                            <h:inputText id="cargaHoraria" title="cargaHoraria"
                                         onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"
                                         value="#{beneficiarioBean.cargaHoraria}" maxlength="3" styleClass="campoNum" />
                        </div>
                        <div align="left">
                            <h:outputText value="Frequência : "  styleClass="rotulo" />
                            <h:inputText id="frequencia" title="Frequencia"
                                         onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;" onblur="validaFreq(this.value)"
                                         value="#{beneficiarioBean.frequencia}" maxlength="3" styleClass="campoNum" /><h:commandButton title="A Frequencia deve conter somente numeros" class="btnHelp" onclick="help1()" value="?"></h:commandButton>
                        </div>
                        <div align="left">
                            <h:outputText value="Nota : " styleClass="rotulo" />
                            <h:inputText id="nota" title="Nota"
                                         onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;" onblur="validaNota(this.value)"
                                         value="#{beneficiarioBean.nota}" maxlength="3" styleClass="campoNum" /><h:commandButton title="A nota nao e Obrigatoria" class="btnHelp" onclick="help2()" value="?"></h:commandButton>
                        </div>
                        <div align="left">
                            <h:outputText value="Interno/Externo UEM : "  styleClass="rotulo" />
                            <h:selectOneRadio value="#{beneficiarioBean.internoUEM}">
                                <f:selectItem itemValue="Comunidade Interna" itemLabel="Comunidade Interna" />
                                <f:selectItem itemValue="Comunidade Externa" itemLabel="Comunidade Externa" />
                            </h:selectOneRadio>
                        </div>
                        <br/>
                        <div align="left">
                            <h:outputText value="Participação : " styleClass="rotulo" />
                            <h:selectManyCheckbox>
                                <f:selectItem itemValue="tema1" itemLabel="Tema 1" />
                                <f:selectItem itemValue="tema2" itemLabel="Tema 2" />
                                <f:selectItem itemValue="teman" itemLabel="Tema n" />
                            </h:selectManyCheckbox>
                        </div>
                        <h:commandButton id="submit" value="Cadastrar"
                                         action="#{beneficiarioBean.cadastrar}"  styleClass="button" />
                    </div>
                </h:form>
            </div>
            <h:form>
                <div class="fundo">
                    <center>
                        <h1 class="titulo" >Beneficiários Cadastrados</h1>
                    </center>
                    <br />
                    <br />
                    <div align="center" style="background-color: #7d29b5">
                        <h:dataTable value="#{beneficiarioBean.beneficiarios}" var="beneficiario"
                                     styleClass="order-table"
                                     headerClass="order-table-header"
                                     rowClasses="order-table-odd-row,order-table-even-row"

                                     >
                            <h:column>
                                <f:facet name="header">
                                    <h1 class="listaHeader">Nome</h1>
                                </f:facet>
                                <h1 class="lista" >#{beneficiario.nome}</h1>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h1 class="listaHeader" >CPF</h1>
                                </f:facet>
                                <h1 class="lista" >#{beneficiario.cpf}</h1>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h1 class="listaHeader" >Email</h1>
                                </f:facet>
                                <h1 class="lista" >#{beneficiario.email}</h1>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h1 class="listaHeader" >Matricula</h1>
                                </f:facet>
                                <h1 class="lista" >#{beneficiario.matricula}</h1>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h1 class="listaHeader">Carga Horária</h1>
                                </f:facet>
                                <h1 class="lista" >#{beneficiario.cargaHoraria}</h1>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h1 class="listaHeader" >Frequência(%)</h1>
                                </f:facet>
                                <h1 class="lista" >#{beneficiario.frequencia}%</h1>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h1 class="listaHeader" >Nota</h1>
                                </f:facet>
                                <h1 class="lista" >#{beneficiario.nota}</h1>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h1 class="listaHeader" >Interno/Externo</h1>
                                </f:facet>
                                <h1 class="lista" >#{beneficiario.internoUEM}</h1>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h1 class="listaHeader" >Excluir</h1>
                                </f:facet>
                                <h:commandButton value="Remover" style="background-color: #61349b; font-size: 10px; color: #FFFFFF; text-align: center;"
                                                 action="#{beneficiarioBean.deletar(beneficiario.cpf)}" />
                            </h:column>
                        </h:dataTable>
                    </div>
                </div>
                <p:dialog id="alerta1" binding="#{beneficiarioBean.alerta1}" widgetVar="dlg1" minHeight="40">
                    <h:outputText value="Beneficiário já cadastrado" />
                </p:dialog>
                <p:dialog id="alerta2" header="Erro!" binding="#{participanteBean.alerta2}" class="alerta">
                    <h:outputText value="O campo CPF não pode ser vazio." />
                </p:dialog>
            </h:form>
            <ui:include src="footer.xhtml"></ui:include>
        </div>
    </h:body>
</xhtml>