.rotulo {
    color: #FFFFFF;
    background-color: #8e61cc;
    border: 1px solid black;
    font-family: arial;
}
.listaHeader{
    color: #FFFFFF;
    background-color: #34006d;
    width: 102%;
    height: 20%;
    font-family: arial;
    font-size: 18px;
}
.lista{
    color: #FFFFFF;
    font-size: 13px;
    font-family: arial;
    text-shadow: 1px 0px 2px black, 
        -1px 0px 2px black, 
        0px 1px 2px black, 
        0px -1px 2px black;
}
.tituloProj{
    font-size: 25px;
    color: #FFFFFF;
    font-family: arial;
    text-shadow: 1px 0px 2px black, 
        -1px 0px 2px black, 
        0px 1px 2px black, 
        0px -1px 2px black;
}
.titulo{
    border: 8px solid #8e61cc;
    width: 30%;
    font-family: arial;
    font-family: arial;
    color: #FFFFFF;
    text-shadow: 1px 0px 2px black, 
        -1px 0px 2px black, 
        0px 1px 2px black, 
        0px -1px 2px black;
}

.rotuloSemBorda {
    color: #FFFFFF;
    background-color: #61349b;
}
.label {
    background-color: #61349b;
    color: #FFFFFF;
    font-size: 20px;
    width: 70px;
    height: 20px;
}
.alerta{
    width: auto;
    height: 40px;
}

.button {
    position: relative;
    background-color: #61349b;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    width: 150px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.btnHelp {
    position: relative;
    background-color: #61349b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.buttonMenuBar {
    position: relative;
    background-color: #61349b;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    padding: 5px;
    width: 90px;
    height: 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.buttonEsqueceu {
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
}

.button:hover {
    background-color: #7d29b5;
}
.buttonMenuBar:hover {
    background-color: #34006d;
}
.fundo {
    width: 100%;
    height: 100%;
    background-color: #c39bf7;
    background-repeat: no-repeat;
}
.fundoHeader {
    width: 100%;
    height: 100%;
    background-color: #f1e6f3;
    background-repeat: no-repeat;
}
.fundoMenuBar{
    background-color:#8e61cc;
    display: inline-block;
    padding: 22px 48px 22px 48px;
    border: 1px solid black;
}
.fundoCadastro{
    background-color:#f1e6f3;
    display: inline-block;
    padding: 22px 48px 22px 48px;
    border: 1px solid black;
}
#button {
    position: relative;
    background-color: #61349b;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    width: 150px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
#textAreaLogin {
    width: 120px;
    height: 20px;
    background-color: #f1e6f7;
    float: right;
    resize: none;
}
.textAreaAnoNuProcesso{
    width: 35px;
    height: 22px;
    background-color: #f1e6f7;
    float: right; resize: none;
    font-size: 14px;
}
.campo{
    width: auto;
}
.campoNum{
    width: 28px;
}
.separator{
    width: 100%;
    border-bottom-color: black;
}