.banner{ /* Ajusta o tamanho do banner*/
    width: 100%;
    height: 100px;
}
.logo-uem{ /* tamanho do logo da UEM */
    float:left;
    width: 100%;
    max-width: 20%;
    padding: 20px 0px 0px 0px;
}
.logo-pr{ /* tamanho da bandeira do parana */
    text-align: right;
    max-width: 20%;
    padding: 20px 0px 0px 0px;
    float:right;
    width: 100%;
}
.texto-logo{ /* tamanho e alinhamento do titulo do site */
    white-space: nowrap;
    text-align: center;
    max-width: 60%;
    padding-top: 10px;
    font-weight: 600;
    color: white;
    text-shadow: 10px 0px 15px black, 
        -10px 0px 15px black, 
        0px 10px 15px black, 
        0px -10px 15px black;
    font-family: arial;
    font-size: 18pt;
    float:left;
    width: 100%;
}
.sessao{
    background-color:#8e61cc;
    display: inline-block;
    padding: 20px 38px 20px 38px;
    border: 1px solid black;
}
.h1{
    color: #FFFFFF;
    font-size: 20px;
    width: auto;
    height: auto;
    float: left;
}
.h2{
    color: #FFFFFF;
    font-size: 18px;
    width: auto;
    height: auto;
    float: right;
}