<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<xhtml xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:f="http://xmlns.jcp.org/jsf/core"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>SGPB</title>
        <link rel="stylesheet" type="text/css" href="estilo.css" />    
    </h:head>
    <h:body>
        <div class="fundo">
            <div>
                <ui:include src="header.xhtml"></ui:include>
                <center>
                    <div>
                        <div class="fundoMenuBar">
                            <h:form>
                                <div>
                                    <menubar>                                        
                                        <menuitem class="buttonMenuBar"><h:commandButton class="buttonMenuBar" style="width: auto" action="#{menuBean.hrefMenu()}" value="Menu"></h:commandButton></menuitem>
                                        <a href="menuProjeto.xhtml"><menuitem class="buttonMenuBar">Voltar</menuitem></a>
                                        <menuitem class="buttonMenuBar"><h:commandButton class="buttonMenuBar" style="width: auto" action="#{menuBean.hrefLogin()}" value="Sair"></h:commandButton></menuitem>
                                    </menubar>
                                </div>
                            </h:form>
                        </div>
                    </div>
                    <div align="center" style="background-color: #8e61cc">
                        <h:dataTable value="#{projetoListagemBean.projetoSelecionado}" var="projeto"
                                     styleClass="order-table"
                                     headerClass="order-table-header"
                                     rowClasses="order-table-odd-row,order-table-even-row"
                                     >
                            <h:column>
                                <h1 class="tituloProj">Titulo: <a class="tituloProj" >#{projeto.titulo}</a></h1>
                            </h:column>
                            <h:column>
                                <h1 class="tituloProj" >Ano/Numero do Processo: <a class="tituloProj" >#{projeto.ano}</a> / <a class="tituloProj" >#{projeto.nuProcesso}</a></h1>
                            </h:column>
                        </h:dataTable>
                    </div>
                    <table border="1" width="100%">
                        <tbody>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </div>
            <h:form>
                <div class="fundo">
                    <div>
                        <center>
                            <h1 class="titulo" align="center">Participantes Cadastrados</h1>
                        </center>
                        <div align="center" style="background-color: #8e61cc">
                            <h:dataTable value="#{participanteBean.participantes}" var="participante"
                                         styleClass="order-table"
                                         headerClass="order-table-header"
                                         rowClasses="order-table-odd-row,order-table-even-row"

                                         >
                                <h:column>
                                    <f:facet name="header">
                                        <h1 class="listaHeader">Nome</h1>
                                    </f:facet>
                                    <h1 class="lista" >#{participante.nome}</h1>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h1 class="listaHeader" >CPF</h1>
                                    </f:facet>
                                    <h1 class="lista" >#{participante.cpf}</h1>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h1 class="listaHeader" >Email</h1>
                                    </f:facet>
                                    <h1 class="lista" >#{participante.email}</h1>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h1 class="listaHeader" >Matricula</h1>
                                    </f:facet>
                                    <h1 class="lista" >#{participante.matricula}</h1>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h1 class="listaHeader">Carga Horária</h1>
                                    </f:facet>
                                    <h1 class="lista" >#{participante.cargaHoraria}</h1>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h1 class="listaHeader">Curso</h1>
                                    </f:facet>
                                    <h1 class="lista" >#{participante.curso}</h1>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h1 class="listaHeader" >Tipo de Atuação</h1>
                                    </f:facet>
                                    <h1 class="lista" >#{participante.tipoAtuacao}</h1>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h1 class="listaHeader" >Interno/Externo</h1>
                                    </f:facet>
                                    <h1 class="lista" >#{participante.internoUEM}</h1>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h1 class="listaHeader" >Excluir</h1>
                                    </f:facet>
                                    <h:commandButton value="Remover" style="background-color: #61349b; font-size: 10px; color: #FFFFFF; text-align: center;"
                                                     action="#{participanteBean.deletarLista(participante.cpf)}" />
                                </h:column>
                            </h:dataTable>
                        </div>
                    </div>
                    <div>
                        <center>
                            <h1 class="titulo" align="center">Beneficiarios Cadastrados</h1>
                        </center>
                        <div align="center" style="background-color: #7d29b5">
                            <h:dataTable value="#{beneficiarioBean.beneficiarios}" var="beneficiario"
                                         styleClass="order-table"
                                         headerClass="order-table-header"
                                         rowClasses="order-table-odd-row,order-table-even-row"

                                         >
                                <h:column>
                                    <f:facet name="header">
                                        <h1 class="listaHeader">Nome</h1>
                                    </f:facet>
                                    <h1 class="lista" >#{beneficiario.nome}</h1>
                                </h:column>
                                <h:column> 
                                    <f:facet name="header">
                                        <h1 class="listaHeader" >CPF</h1>
                                    </f:facet>
                                    <h1 class="lista" >#{beneficiario.cpf}</h1>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h1 class="listaHeader" >Email</h1>
                                    </f:facet>
                                    <h1 class="lista" >#{beneficiario.email}</h1>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h1 class="listaHeader" >Matricula</h1>
                                    </f:facet>
                                    <h1 class="lista" >#{beneficiario.matricula}</h1>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h1 class="listaHeader">Carga Horária</h1>
                                    </f:facet>
                                    <h1 class="lista" >#{beneficiario.cargaHoraria}</h1>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h1 class="listaHeader" >Frequência(%)</h1>
                                    </f:facet>
                                    <h1 class="lista" >#{beneficiario.frequencia}%</h1>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h1 class="listaHeader" >Nota</h1>
                                    </f:facet>
                                    <h1 class="lista" >#{beneficiario.nota}</h1>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h1 class="listaHeader" >Interno/Externo</h1>
                                    </f:facet>
                                    <h1 class="lista" >#{beneficiario.internoUEM}</h1>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h1 class="listaHeader" >Excluir</h1>
                                    </f:facet>
                                    <h:commandButton value="Remover" style="background-color: #61349b; font-size: 10px; color: #FFFFFF; text-align: center;"
                                                     action="#{beneficiarioBean.deletarLista(beneficiario.cpf)}" />
                                </h:column>
                            </h:dataTable>
                        </div>
                    </div>
                </div>
            </h:form>
            <ui:include src="footer.xhtml"></ui:include>
        </div>
    </h:body>
</xhtml>