<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<xhtml xmlns="http://www.w3.org/1999/xhtml"
       xmlns:ui="http://java.sun.com/jsf/facelets" 
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="estilo.css" />
    </h:head>
    <h:body>
        <div class="separator"></div>
        <main style="background-color: #c39bf7">
            <center>
                <a href="login.xhtml"><img style="width: 250px;" src="https://s1.static.brasilescola.uol.com.br/artigos/-5bd1cd0ea92f6.jpg?i=https://brasilescola.uol.com.br/upload/vestibular/-5bd1cd0ea92f6.jpg" /></a>
                <div>
                    <div  style="background-color:#8e61cc; display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid black;">
                        <h:form>
                            <div>
                                <div>
                                    <label style="font-size: 60px; font-style: italic; color: #34006d">SGPB</label>
                                </div>
                                <div>
                                    <label style="font-size: 10px; font-style: italic; color: #34006d">Sistema de Gestão de Participante e Beneficiario</label>
                                </div>
                            </div>
                            <div  style="background-color:#8e61cc; display: inline-block; padding: 16px 20px 0px 20px; border: 1px solid black;">                                
                                <div>
                                    <div>
                                        <label class="label" style="background-color: #61349b; color: #FFFFFF; font-size: 26px; width: 70px; height: 29px;float: left">Login:</label>
                                        <h:inputText maxlength="8" style="width: 120px; height: 24px; background-color: #f1e6f7; float: right; resize: none;"
                                                     value="#{loginBean.login}" title="Matricula/RA" ></h:inputText>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <label class="label"  style="background-color: #61349b; color: #FFFFFF; font-size: 26px; width: 70px; height: 29px;float: left">Senha:</label>
                                        <h:inputSecret  maxlength="16" style="width: 120px; height: 24px; background-color: #f1e6f7; float: right; resize: none;" title="Digite sua Senha"
                                                        value="#{loginBean.senha}"></h:inputSecret>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <center>
                                <div >
                                    <a>
                                        <h:commandButton class="button" value="Entrar" 
                                                         action="#{loginBean.autenticar()}" id="submit" />
                                    </a>
                                </div>
                                <div class="separator"></div>
                                <label style="align-content: center">
                                    <a href='http://monaco.uem.br/senha/geraenvsenha.php?uid=ra'>
                                        <b style="color: #c39bf7; ">Esqueceu sua senha?</b>
                                    </a>
                                </label>
                            </center>
                        </h:form>
                    </div>
                </div>
                <div class="separator"></div>
            </center>
        </main>
        <ui:include src="footer.xhtml"></ui:include>
    </h:body>
</xhtml>
