<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<xhtml xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:f="http://xmlns.jcp.org/jsf/core"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
       xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>SGPB</title>
        <link rel="stylesheet" type="text/css" href="estilo.css" />
        <script type="text/javascript" src="js/javascript.js"/>
    </h:head>
    <h:body>
        <div class="fundo">
            <div>
                <ui:include src="header.xhtml"></ui:include>
                <center>
                    <div>
                        <div class="fundoMenuBar">
                            <h:form>
                                <div>
                                    <menubar>                                        
                                        <menuitem class="buttonMenuBar"><h:commandButton class="buttonMenuBar" style="width: auto" action="#{menuBean.hrefMenu()}" value="Menu"></h:commandButton></menuitem>
                                        <a href="menuProjeto.xhtml"><menuitem class="buttonMenuBar">Voltar</menuitem></a>
                                        <menuitem class="buttonMenuBar"><h:commandButton class="buttonMenuBar" style="width: auto" action="#{menuBean.hrefLogin()}" value="Sair"></h:commandButton></menuitem>
                                    </menubar>
                                </div>
                            </h:form>
                        </div>
                    </div>
                    <div align="center" style="background-color: #8e61cc">
                        <h:dataTable value="#{projetoListagemBean.projetoSelecionado}" var="projeto"
                                     styleClass="order-table"
                                     headerClass="order-table-header"
                                     rowClasses="order-table-odd-row,order-table-even-row"
                                     >
                            <h:column>
                                <h1 class="tituloProj">Titulo: <a class="tituloProj" >#{projeto.titulo}</a></h1>
                            </h:column>
                            <h:column>
                                <h1 class="tituloProj" >Ano/Numero do Processo: <a class="tituloProj" >#{projeto.ano}</a> / <a class="tituloProj" >#{projeto.nuProcesso}</a></h1>
                            </h:column>
                        </h:dataTable>
                    </div>
                </center>
            </div>
            <div align="center" class="fundo">
                <h1 class="titulo"> Cadastro de Participante </h1>
                <h:form>
                    <div class="fundoCadastro">
                        <div align="left">
                            <h:outputText value="Nome: "  class="rotulo" />
                            <h:inputText id="nome" title="Nome"
                                         value="#{participanteBean.nome}" class="campo" />
                        </div>
                        <div align="left">
                            <h:outputText value="CPF : "  class="rotulo" />
                            <h:inputText id="cpf" title="Somente Dígitos" maxlength="11" style="width: 100px" onblur="TestaCPF(this.value)"
                                         onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"
                                         value="#{participanteBean.cpf}" class="campo" /> <h:commandButton title="O Cpf precisa conter somente digitos" class="btnHelp" onclick="help()" value="?"></h:commandButton>
                        </div>
                        <div align="left">
                            <h:outputText value="E-mail : "  class="rotulo" />
                            <h:inputText id="email" title="email"
                                         value="#{participanteBean.email}" class="campo" />
                        </div>
                        <div align="left" id="rowMatricula">
                            <h:outputText value="Matricula : "  class="rotulo" />
                            <h:inputText id="matricula" title="Matricula" onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"
                                         maxlength="8" style="width: 60px" 
                                         value="#{participanteBean.matricula}" class="campo" />
                        </div>
                        <div align="left">
                            <h:outputText value="Carga Horária : "  class="rotulo" />
                            <h:inputText id="cargaHoraria" title="cargaHoraria" onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"
                                         value="#{participanteBean.cargaHoraria}" style="width: 28px" maxlength="3" class="campo" />
                        </div>
                        <div align="left">
                            <h:outputText value="Curso : "  class="rotulo" />
                            <h:inputText id="curso" title="Curso"
                                         value="#{participanteBean.curso}" class="campo" />
                        </div>
                        <div align="left">
                            <h:outputText value="Tipo de Atuação : " class="rotulo" />
                            <h:selectOneMenu value="#{participanteBean.tipoAtuacao}">
                                <f:selectItem itemValue="comissao" itemLabel="Comissão Organizadora" />
                                <f:selectItem itemValue="ministrante" itemLabel="Ministrante" />
                                <f:selectItem itemValue="monitor" itemLabel="Monitor" />
                                <f:selectItem itemValue="outros" itemLabel="Outros" />
                            </h:selectOneMenu>
                        </div>
                        <br/>
                        <div align="left">
                            <h:outputText value="Interno/Externo UEM : "  class="rotulo" />
                            <h:selectOneRadio value="#{participanteBean.internoUEM}">
                                <f:selectItem itemValue="Comunidade Interna" itemLabel="Comunidade Interna" />
                                <f:selectItem itemValue="Comunidade Externa" itemLabel="Comunidade Externa" />
                            </h:selectOneRadio>
                        </div>
                        <br/>
                        <div align="left">
                            <h:outputText value="Participação : " class="rotulo" />
                            <h:dataTable value="#{projetoListagemBean.programacao}" var="programacao"
                                         styleClass="order-table"
                                         headerClass="order-table-header"
                                         rowClasses="order-table-odd-row,order-table-even-row"
                                         >
                                <h:column>
                                    <h1 class="lista">#{programacao.nomeTema}<a class="lista">  CH: </a> <a class="lista" >#{programacao.cargaHorariaTema}</a><h:selectBooleanCheckbox onclick="calcularCargaHoraria(this,#{programacao.cargaHorariaTema})"></h:selectBooleanCheckbox></h1>
                                </h:column>
                            </h:dataTable>
                        </div>
                        <h:commandButton id="submit" value="Cadastrar" 
                                         action="#{participanteBean.cadastrar()}"  class="button" />
                    </div>
                </h:form>
            </div>
            <div class="fundo">
                <h:form>
                    <center>
                        <h1 class="titulo" align="center">Participantes Cadastrados</h1>
                    </center>
                    <br />
                    <br />
                    <div align="center" style="background-color: #8e61cc">
                        <h:dataTable value="#{participanteBean.participantes}" var="participante"
                                     styleClass="order-table"
                                     headerClass="order-table-header"
                                     rowClasses="order-table-odd-row,order-table-even-row"

                                     >
                            <h:column>
                                <f:facet name="header">
                                    <h1 class="listaHeader">Nome</h1>
                                </f:facet>
                                <h1 class="lista" >#{participante.nome}</h1>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h1 class="listaHeader" >CPF</h1>
                                </f:facet>
                                <h1 class="lista" >#{participante.cpf}</h1>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h1 class="listaHeader" >Email</h1>
                                </f:facet>
                                <h1 class="lista" >#{participante.email}</h1>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h1 class="listaHeader" >Matricula</h1>
                                </f:facet>
                                <h1 class="lista" >#{participante.matricula}</h1>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h1 class="listaHeader">Carga Horária</h1>
                                </f:facet>
                                <h1 class="lista" >#{participante.cargaHoraria}</h1>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h1 class="listaHeader">Curso</h1>
                                </f:facet>
                                <h1 class="lista" >#{participante.curso}</h1>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h1 class="listaHeader" >Tipo de Atuação</h1>
                                </f:facet>
                                <h1 class="lista" >#{participante.tipoAtuacao}</h1>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h1 class="listaHeader" >Interno/Externo</h1>
                                </f:facet>
                                <h1 class="lista" >#{participante.internoUEM}</h1>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h1 class="listaHeader" >Excluir</h1>
                                </f:facet>
                                <h:commandButton value="Remover" style="background-color: #61349b; font-size: 10px; color: #FFFFFF; text-align: center;"
                                                 action="#{participanteBean.deletar(participante.cpf)}" />
                            </h:column>
                        </h:dataTable>
                    </div>
                </h:form>
            </div>
            <p:dialog id="alerta1" header="Erro!" binding="#{participanteBean.alerta1}" class="alerta">
                <h:outputText value="Participante já cadastrado." />
            </p:dialog>
            <p:dialog id="alerta2" header="Erro!" binding="#{participanteBean.alerta2}" class="alerta">
                <h:outputText value="O campo CPF não pode ser vazio." />
            </p:dialog>
            <ui:include src="footer.xhtml"></ui:include>
        </div>
    </h:body>
</xhtml>